body, * {
    font-family: sans-serif;
}

a {
    font-size: x-large;
    color: black;
    padding-right: 50px;
    align-items: end;
}
b{

    font-weight: lighter;
    font-size: xx-large;
}


.mb-2
{
    text-align: center;
    height: 30px;
    width: 30px;
    margin-bottom: 1rem !important;
}
.input-group-addon {
    min-width: 150px;
}

header > div {
    display: inline-block;
    vertical-align: middle;
    flex: auto;
}

header .div1 {
    padding-top: 7px;
    text-align: justify-all;
    font-size: 18px;
}

header .div1 img {
    width: 90px;
}

header .div2 {
    text-align: center;

}

header .div3 {
    text-align: right;
}

button {
    outline: none !important;
    cursor: pointer;

}

.home_page .section1 {
    margin: 0 30px;
}

.home_page .section1 > div {

}

.home_page .section1 .div1 {

}

.home_page .section1 .div1 h6 {
    color: #333333;
}

.home_page .section1 .div1 .screen {
    width: 100%;
    height: 450px;
    background-color: #c8cbd4;
}

.home_page .section1 .div2 {
    text-align: center;
}

.home_page .section1 .div2 .upload_area {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.home_page .section1 .div2 .upload_area img {
    margin: 0 auto;
}

.home_page .section1 .div2 button {
    border: none;
    color: white;
    background-color: #606873;
    padding: 8px 25px;
}


.page_two .carousel .carousel-item {
    max-height: 450px;
}

.page_two .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100px;
}

.page_two .btn_grey {
    width: 100%;
    border: none;
    background-color: grey;
    color: #ffffff;
    padding: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 70px;

}

.page_two .btn_search {
    width: 100%;
    text-align: center;
    border: none;
    background-color: grey;
    color: #ffffff;
    padding: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 50px;

}

.page_two .btn_search img {
    display: inline-block;
    width: auto;

}

.error {
    background-color: #FFCCCC;
    padding: .2em;
    color: red
}

.attr {
    color: red
}

.resultCont {
    margin-bottom: 0px;
    height: 400px
}

.searchBox {
    background-color: #caccfa;
    border-radius: 25px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px
}

.resultBox {
    border-radius: 25px;
    background-color: #caccfa;
    margin-right: 7px;
    margin-bottom: 15px;
}





